/*
* OVERRIDES TOC 
*
* 1.0 - Top Bar Menu
* 2.0 - Left Sidebar Menu
* 3.0 - Main Layout
* 4.0 - Components
*   4.1 - InputText
*   4.2 - Badge
*   4.3 - Tooltip
* 5.0 - Icons
* 6.0 - Scrollbars
*
*/
@import 'variables';
@import 'main';

// 1.0 - Top Bar Menu
.topnav-wrapper {
  .pi.pi-search {
    color: $casper;
  }
}

// 4.0 - Components
// 4.1 - InputText
.p-inputtext.p-component {
  background-color: transparent;
  border-radius: 5px;
  color: $gainsboro;
  border: 1px solid transparent;
  &:enabled:focus, &:enabled:hover {
    // border-color: $mvi-bt-blue;
  }
  &:focus {
    box-shadow: none;
  }
  &::placeholder {
    color: $casper;
    letter-spacing: 0.5px;
  }
}

// 4.2 - Badge
.p-badge {
  background: deepskyblue;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  top: 25%;
  right: 10%;
  line-height: 1rem;
}

// 4.3 - Tooltip
.p-tooltip {
  .p-tooltip-text {
      background: radial-gradient(circle, $space-cadet-2 0%, $space-cadet-2 100%) !important;
      color: #EAEBEC;
      padding: 0.5rem 0.5rem;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      border-radius: 6px;
      font-family: 'OpenSans Regular', sans-serif;
      letter-spacing: 0.5px;
      font-size: 0.75rem;
  }
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: $space-cadet-2;
}
.p-tooltip.p-tooltip-left .p-tooltip-arrow {
  border-left-color: $space-cadet-2;
}
.p-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: $space-cadet-2;
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: $space-cadet-2;
}