//Extended Screen Sizes
$screen-2xl: 1480px; // aka xl-2
$screen-3xl: 1920px; // aka xl-3
$screen-4xl: 2560px; // aka xl-4

// Main Colors
$space-cadet: #0C0D1C;
$raisin-black: #1d1e30;
$space-cadet-2: #253252;
$space-cadet-3: #2b2d46;
// $bright-navy-blue: #0072E4;
// $independence: #41556E;
// $rhythm: #70738E;
$independence: #414469;
$purple-navy: #7377a5;

// Accent Colors
$sky-blue: #33CCFF;
$capri: #00bfff;
$blue-ncs: #008AB8;
$neon-blue: #5465FF;
$lime-green: #8be74e;
$red-orange: #FC440F;
$red-crayola: #ED254E;
$orchid: #FF47DA;
$purple: #613DC1;
$lt-sea-green: #03B5AA;
$marigold: #FBB13C;
$yellow: #FDE74C;

// Text Colors
$rhythm: #8083a2;
$shadow-blue: #8597ae;
$beau-blue: #d1e1f6;
$manatee: #a4a5b3;
$casper: #acbacc;
$gainsboro: #d9d9d9;
$platinum: #eaebec;