//Extended Screen Sizes
$screen-2xl: 1480px; // aka xl-2
$screen-3xl: 1920px; // aka xl-3
$screen-4xl: 2560px; // aka xl-4

// Main Colors
$space-cadet: #0C0D1C;
$raisin-black: #1d1e30;
$space-cadet-2: #253252;
$bright-navy-blue: #0072E4;
$independence: #41556E;
$rhythm: #70738E;
$purple-navy: #42507E;

// Accent Colors
$capri: #00bfff;

// Text Colors
$shadow-blue: #8597ae;
$beau-blue: #d1e1f6;
$casper: #acbacc;
$gainsboro: #d9d9d9;
$platinum: #eaebec;